/* -------------------------------------------------------------------------- *\
                                    Pygments
\* -------------------------------------------------------------------------- */

div.highlight
{
    /* same margins as <pre> tag */
    margin-left: 2em;
    margin-right: 2em;
    background-color: #f6f6f6;
}

.highlight
{
    .err /* Error */
    {
        border: 1px solid #FF0000
    }

    .k /* Keyword */
    {
        color: blue;
    }

    .o /* Operator */
    {
        color: #666666
    }

    .cm /* Comment.Multiline */
    {
        color: #008800;
        font-style: italic
    }

    .cp /* Comment.Preproc */
    {
        color: #008800
    }

    .c1 /* Comment.Single */
    {
        color: #008800;
        font-style: italic
    }

    .cs /* Comment.Special */
    {
        color: #008800;
        font-weight: bold
    }

    .gd /* Generic.Deleted */
    {
        color: #A00000
    }

    .ge /* Generic.Emph */
    {
        font-style: italic
    }

    .gr /* Generic.Error */
    {
        color: #FF0000
    }

    .gh /* Generic.Heading */
    {
        color: #000080;
        font-weight: bold
    }

    .gi /* Generic.Inserted */
    {
        color: #00A000
    }

    .go /* Generic.Output */
    {
        color: #808080
    }

    .gp /* Generic.Prompt */
    {
        color: #000080;
        font-weight: bold
    }

    .gs /* Generic.Strong */
    {
        font-weight: bold
    }

    .gu /* Generic.Subheading */
    {
        color: #800080;
        font-weight: bold
    }

    .gt /* Generic.Traceback */
    {
        color: #0040D0
    }

    .kc /* Keyword.Constant */
    {
        color: #AA22FF;
        font-weight: bold
    }

    .kd /* Keyword.Declaration */
    {
        color: #AA22FF;
        font-weight: bold
    }

    .kp /* Keyword.Pseudo */
    {
        color: #AA22FF
    }

    .kr /* Keyword.Reserved */
    {
        color: #AA22FF;
        font-weight: bold
    }

    .kt /* Keyword.Type */
    {
        color: #AA22FF;
        font-weight: bold
    }

    .m /* Literal.Number */
    {
        color: #666666
    }

    .s /* Literal.String */
    {
        color: #BB4444
    }

    .na /* Name.Attribute */
    {
        color: #BB4444
    }

    .nb /* Name.Builtin */
    {
        color: #AA22FF
    }

    .nc /* Name.Class */
    {
        color: red;
        font-weight: bold;
    }

    .no /* Name.Constant */
    {
        color: #880000
    }

    .nd /* Name.Decorator */
    {
        color: #AA22FF
    }

    .ni /* Name.Entity */
    {
        color: #999999;
    }

    .ne /* Name.Exception */
    {
        color: #D2413A;
        font-weight: bold;
    }

    .nf /* Name.Function */
    {
        color: red;
    }

    .nl /* Name.Label */
    {
        color: #A0A000
    }

    .nn /* Name.Namespace */
    {
        color: #0000FF;
        font-weight: bold
    }

    .nt /* Name.Tag */
    {
        color: #008000;
        font-weight: bold
    }

    .nv /* Name.Variable */
    {
        color: #B8860B
    }

    .ow /* Operator.Word */
    {
        color: #AA22FF;
        font-weight: bold
    }

    .mf /* Literal.Number.Float */
    {
        color: #666666
    }

    .mh /* Literal.Number.Hex */
    {
        color: #666666
    }

    .mi /* Literal.Number.Integer */
    {
        color: #666666
    }

    .mo /* Literal.Number.Oct */
    {
        color: #666666
    }

    .sb /* Literal.String.Backtick */
    {
        color: #BB4444
    }

    .sc /* Literal.String.Char */
    {
        color: #BB4444
    }

    .sd /* Literal.String.Doc */
    {
        color: #BB4444;
        font-style: italic
    }

    .s2 /* Literal.String.Double */
    {
        color: #BB4444
    }

    .se /* Literal.String.Escape */
    {
        color: #BB6622;
        font-weight: bold
    }

    .sh /* Literal.String.Heredoc */
    {
        color: #BB4444
    }

    .si /* Literal.String.Interpol */
    {
        color: #BB6688;
        font-weight: bold
    }

    .sx /* Literal.String.Other */
    {
        color: #008000
    }

    .sr /* Literal.String.Regex */
    {
        color: #BB6688
    }

    .s1 /* Literal.String.Single */
    {
        color: #BB4444
    }

    .ss /* Literal.String.Symbol */
    {
        color: #B8860B
    }

    .bp /* Name.Builtin.Pseudo */
    {
        color: #AA22FF
    }

    .vc /* Name.Variable.Class */
    {
        color: #B8860B
    }

    .vg /* Name.Variable.Global */
    {
        color: #B8860B
    }

    .vi /* Name.Variable.Instance */
    {
        color: #B8860B
    }

    .il /* Literal.Number.Integer.Long */
    {
        color: #666666
    }
}
