@import "defs.scss";

/* -------------------------------------------------------------------------- *\
                                   Everything
\* -------------------------------------------------------------------------- */

$background_color: #eeeeee;
$font_family: Verdana, Arial, Helvetica, sans-serif;
$pre_font_family: Andale Mono, Lucidatypewriter, Lucida Typewriter, monospace;

@mixin centered
{
    margin-left: auto;
    margin-right: auto;
}

@import "pygments.scss";

html
{
    background-color: $background_color;
}

body
{
    background-color: $background_color !important;
    font-size: 14px;
    font-family: $font_family;

    max-width: 1000px;
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    @include centered;
    border: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
}

.body
{
    background-color: $background_color;
    padding: 0;
    margin: 0;
}

.print
{
    display: none;
}

/* -------------------------------------------------------------------------- *\
                                   Main Blog
\* -------------------------------------------------------------------------- */

dl
{
    dt
    {
        font-weight: bold;
    }

    dd
    {
        margin-bottom: 1em;
    }
}

span.summary-tags
{
    float: right;
}

div.page-footer
{
    font: 8pt;
    font-style: italic;
    text-align: center;
}

.lytebox-popup
{
    // For vertical centering
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;

    padding: 1em 1em 1em 1em;
    background-color: $background_color;
    font-family: $font_family;
}

blockquote
{
    margin-left: 0.375in;
    margin-right: 0.375in;
    font-family: $font_family;
    padding-left: 20px;
    border-left: 5px solid #ddd;
    color: #555555;
}

hr.docutils
{
    width: 10em;
    color: grey;
}

div.banner-background
{
    background-color: $background_color;
    width: 100%;
}

div.banner
{
    width: 80%;
    height: 60px;
    background-color: $background_color;
}

div.banner-image
{
    float: left;
    background-color: $background_color;
}

div.banner-tagline
{
    float: left;
    width: 30em;
    padding-left: 5em;
    padding-top: 10px;
    background-color: $background_color;
    font-family: $font_family;
    font-style: italic;
}

div.banner-nav
{
    background-color: $background_color;
    float: right;
    width: auto;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-family: $font_family;
}

div.gutter
{
    float: right;
    width: 20%;
    font-family: $font_family;
    background-color: $background_color;
    clear: both;
}

div.gutter-item
{
    font-family: $font_family;
    padding-bottom: 10px;
    float: left;
    clear: left;
}

div#content-box
{
    width: 80%;
    float: left;
}

div#articles-box
{
    /*position: absolute;*/
    background-color: $background_color;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

#articles-container
{
    font-family: $font_family;
    @include rounded-border;
    border: 1px solid #a9a9a9;
    @include drop-shadow-right-bottom(5px, #999);

    margin-right: 1em;
    background-color: white;
    padding: 1em;
}

.article-description
{
    clear: both;
    padding-top: 2px;
    background-color: white;
    margin-left: 0.5in;
}

.article-body
{
    clear: both;
    padding-top: 5px;
    background-color: white;
}

.article-body-draft
{
    clear: both;
    padding-top: 5px;
    background: url(/static/draft.png);
}

div.article
{
    background-color: white;
}

div.article-header
{
    width: 100%;
}

span.article-ref-header
{
    font-weight: bold;
}

ul.article-ref-list
{
    margin-left: 0;
    padding-left: 0;

    li
    {
        /* list-style-type: none; */
        list-style-type: bullet;
        margin-left: 1em;
    }
}

div.article-title
{
    font-size: 150%;
    font-weight: bold;
    color: maroon;
    width: 70%;
    float: left;
    padding: 0;
}

div.article-footer
{
    font-family: $font_family;
    color: gray;
    text-align: left;
    margin-bottom: 10px;

    a.reference
    {
        font-weight: bold;
        text-decoration: none;
        border: none;
    }

    .tags
    {
        color: gray;
    }
}

div.article-timestamp
{
    font-size: 75%;
    padding-left: 2em;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: top;
    color: gray;
    text-align: right;
    width: 40%;
    float: right;
}

.first-article-container
{
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}

.subsequent-article-container
{
    width: 100%;
    border-top: 1px solid gray;
    padding-top: 2px;
    padding-bottom: 8px;
}

div#tags-box
{
    clear: left;
    font-family: $font_family;
    padding-top: 1em;
    background-color: $background_color;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0.5in;
    margin-bottom: 0.5in;
    text-align: center;
    width: 70%;
}
/*
* html #tags-box
{
    width: 100%;
}
*/
#tag-cloud
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid #a9a9a9;

    a
    {
        text-decoration: none;
        border: none;

        &:visited
        {
        }

        &:link
        {
        }

        &:active
        {
            text-decoration: underline;
            color: grey;
        }

        &:hover
        {
            text-decoration: underline;
            color: grey;
        }
    }

    div
    {
        padding: 4px;
    }

    .tag-cloud-tiny
    {
        font-size: 8pt;
    }

    .tag-cloud-small
    {
        font-size: 10pt;
    }

    .tag-cloud-medium
    {
        font-size: 12pt;
    }

    .tag-cloud-large
    {
        font-size: 14pt;
    }

    .tag-cloud-huge
    {
        font-size: 16pt;
    }
}

.no-comments
{
    font-size: 75%;
    font-style: italic;
    margin-bottom: 1em;
    padding-bottom: 10px;
}

.made-with
{
    font-size: 75%;
    font-style: italic;
}

.topic-title
{
    font-size: 110%;
    font-weight: bold;
}

h1
{
    font-size: 130%;
    font-weight: bold;
    font-family: $font_family;
    background-color: #dddddd;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

h2
{
    font-size: 110%;
    font-weight: bold;
    font-family: $font_family;
}

h3
{
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
    font-family: $font_family;
}

.no-comments
{
    font-size: 75%;
    font-style: italic;
}

@mixin shrink-to-fit
{
    /* "display: inline-block" forces browser to shrink width to fit. */
    display: inline-block;
}

@mixin code-like
{
    // background-color: #eeeeee;
    background-color: #ffffe0;
    font-family: $pre_font_family;
    font-size: 14px;
    overflow: auto;
    max-width: 90%;
    margin-left: 1px;
    padding: 5px;
    border: 1px solid #aaaaaa !important;

    @include shrink-to-fit;    
}

pre
{
    margin-left: 2em;
    font-size: 10pt;
    font-family: $pre_font_family;
    /* font-family: Courier New, Courier, monospace; */

    width: auto;
    overflow: auto;
    overflow-y: hidden; /* for IE */
    -ms-overflow-y: hidden; /* for IE8 */

    code
    {
        @include code-like;
    }
}

tt
{
    font-family: $pre_font_family;
}

#contents
{
    float: right;
    /* background-color: white; */
    background-color: #f6f6f6;
    padding: 3px;
    border: 1px dashed black;
    margin-left: 5px;
    margin-top: 5px;
}

.code
{
    @include code-like;
}

code
{
}

a
{
   text-decoration: none;

   &:link
   {
       color: #3333aa;
   }

   &:visited
   {
       color: #333388;

       img
       {
           border: none;
       }
   }

   &:hover
   {
       /* background-color: #eed2ee; */
       background-color: $background_color;
       color: black;
   }

   &.reference
   {
       text-decoration: none;
       border-bottom: 1px dotted #3333aa;
   }

   &.about-me
   {
       text-decoration: none;
       border: none;
       font-style: italic;
       font-weight: bold;

       &:visited
       {
       }
   }

   &.button
   {
       text-decoration: none;
       border: none;

       &:visited
       {
       }
   }
}


div.article-title a.reference
{
    text-decoration: none;
    border-bottom: none;
    color: maroon;
}

div.article-title a:visited
{
    text-decoration: none;
    border-bottom: none;
    color: maroon;
}

.email
{
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 75%;
    font-style: italic;
    align: right;
    text-align: left;
}

.myname
{
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 75%;
    font-style: italic;
    align: right;
    text-align: left;
}

div.about-me-button
{
    margin-bottom: 10px;
    margin-top: 10px;
}

span.text-button
{
    /* background-color: #808080; */
    background-color: white;

    @include rounded-border;

    margin-left: 2px;
    margin-right: 2px;
    margin-top: 1px;
    margin-bottom: 1px;

    font-size: 90%;

    border: 1px solid black;

    text-align: center;

    a
    {
        text-decoration: none;
        border: none;
        /* color: white; */
        color: black;

        &:visited
        {
             /* color: white; */
            color: black;
            background-color: white;
        }

        &:hover
        {
            color: red;
            background-color: white;
        }
    }
}

/* -------------------------------------------------------------------------- *\
                         Table of Contents Styling
\* -------------------------------------------------------------------------- */

div#toc
{
    width: auto;
    font-size: 9pt;
}

span#tocHeading
{
    background-color: #f0f0f0;
    width: auto;
    font-weight: bold;
    font-size: larger;
}

div#tocBlock
{
    -moz-box-shadow: 5px 5px 5px #999;
    -webkit-box-shadow: 5px 5px 5px #999;
    box-shadow: 5px 5px 5px #999;
    border: 1px solid #ccc;

    margin-right: 0em;
    margin-left: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    width: 40%;
    float: right;
}

ul.toc
{
}

li.tocH1
{
    margin-left: 0em
}

li.tocH2
{ 
    margin-left: 1em
}

li.tocH3
{ 
    margin-left: 2em
}

li.tocH4
{ 
    margin-left: 3em
}

li.tocH5
{
    margin-left: 4em
}

li.tocH6
{
    margin-left: 5em
}

/* --- END table of contents styles */

/* -------------------------------------------------------------------------- *\
                                    Disqus
\* -------------------------------------------------------------------------- */

.dsq-brlink
{
    color: #aaaaaa;
    font-weight: normal;
    text-align: right;
}
