<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<link href="/css/style.css" media="screen" rel="stylesheet" type="text/css"></link>
<link href="/css/common.css" media="screen" rel="stylesheet" type="text/css"></link>
<link href="/css/style-printable.css" media="print" rel="stylesheet" type="text/css"></link>
<link href="/css/common.css" media="print" rel="stylesheet" type="text/css"></link>
<link href="/lytebox/lytebox.css" media="screen" rel="stylesheet" type="text/css"></link>
<script src="/lytebox/lytebox.js" language="javascript" type="text/javascript"></script>
<title>{{ page.title }}</title>
{% include google-analytics.html %}
</head>
