{% include html-head.html %}

<body>

<!-- BANNER -->

<div class="banner-background">
  <div class="banner">
    <div class="banner-image">
      <!-- The image is most suited for screen display. -->
      <div class="screen">
        <a href="/id/4/">
          <span class="blog-title">Brizzled</span>
{% comment %}
          <img src="/images/brizzled.png" width="341" height="56" border="0" align="left"/></a>
{% endcomment %}
        </a>
      </div>

      <div class="print">
          <span class="blog-title">Brizzled</span> (Brian Clapper's blog)
{% comment %}
        Brizzled: Brian Clapper's blog
{% endcomment %}
      </div>
    </div>

    <div class="banner-tagline">... wherein I bloviate discursively.</div>

    <!-- Banner navigation: Only displayed on the screen -->
    <div class="banner-nav screen">
      <span class="text-button" style="width: 7em"><a href="/">top</a></span><span class="text-button" style="width: 7em"><a href="/everything.html">everything</a></span>
    </div>
  </div>
</div>

<!-- GUTTER: Only displayed on the screen. -->

<div class="gutter screen">
  <div class="gutter-item"></div>

  <div class="gutter-item">
    <a href="/about-me.html" rel="lyteframe" title="Brian M. Clapper" rev="">
    <img border="0" src="/images/bmc-2011-05-09.jpg" width="90" height="105" align="left">
    </a>
  </div>
  
  <div class="gutter-item">
    <div class="email">bmc&nbsp;@&nbsp;clapper.org</div>
  </div>

  <div class="gutter-item about-me-button">
    <span class="text-button">
      <a href="/about-me.html" rel="lyteframe" title="Brian M. Clapper"
         rev="" class="button">About me</a>
    </span>
  </div>

  <div class="gutter-item">
    <a title="Full-content Atom feed" href="/atom.xml" class="button"><img src="/images/atom-small.gif" width="32" height="15" border="0" align="left"></a>
  </div>

{% comment %}
  <div class="gutter-item">
    <a title="Full-content RSS-2 feed" href="/rss2.xml" class="button"><img src="/images/rss2-small.gif" width="49" height="15" border="0"></a>
  </div>
{% endcomment %}

  <div class="gutter-item">
    <span class="article-ref-header">LAST {{site.max_recent}} ARTICLES</span>
    <ul class="article-ref-list">
{% for a in site.articles limit:site.max_recent %}
      <li><a href="{{ a.url }}">{{ a.title }}</a>
{% endfor %}
    </ul>
  </div>
</div>

<div id="content-box">
    
