{% include html-head.html %}

<body>

<!-- BANNER -->

<div class="banner-background">
  <div class="banner screen">
    <a href="/id/4/"><span class="blog-title">Brizzled</span></a>
      <span class="banner-tagline">... wherein I bloviate discursively.</span>
    </a>
    <!-- Banner navigation: Only displayed on the screen -->
    <div class="banner-nav screen">
      <a class="lion-button" href="/">home</a>
      <a class="lion-button" href="/everything.html">everything</a>
      <a class="lion-button" href="/tags/">tags</a>
      <g:plusone size="small"></g:plusone>
      <script type="text/javascript">
(function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
      </script>
    </div>
  </div>

  <div class="banner print">
    <span class="blog-title">Brizzled</span> (Brian Clapper's blog)
    <span class="banner-tagline">... wherein I bloviate discursively.</span>
  </div>
</div>

<!-- GUTTER: Only displayed on the screen. -->

<div class="gutter screen">
  <div class="gutter-item"></div>

  <div class="gutter-item">
    <a href="/about-me.html" rel="lyteframe" title="Brian M. Clapper" rev="">
    <img border="0" src="/images/bmc-2011-05-09-2-cartoon.png" width="90" height="105" align="left">
    </a>
  </div>
  
  <div class="gutter-item">
    <div class="email">bmc&nbsp;@&nbsp;clapper.org</div>
  </div>

  <div class="gutter-item about-me-button">
    <a class="lion-button" href="/about-me.html" rel="lyteframe" title="Brian M. Clapper"
         rev="" class="button">About me</a>
  </div>

  <div class="gutter-item">
    <a title="Full-content Atom feed" href="/feed.atom" class="button"><img src="/images/atom-small.gif" width="32" height="15" border="0" align="left"></a>
  </div>

{% comment %}
  <div class="gutter-item">
    <a title="Full-content RSS-2 feed" href="/rss2.xml" class="button"><img src="/images/rss2-small.gif" width="49" height="15" border="0"></a>
  </div>
{% endcomment %}

  <div class="gutter-item">
    <span class="article-ref-header">LAST {{site.max_recent}} ARTICLES</span>
    <ul class="article-ref-list">
{% for a in site.articles limit:site.max_recent %}
      <li><a href="{{ a.url }}">{{ a.title }}</a>
{% endfor %}
    </ul>
  </div>
</div>

<div id="content-box">
    
