/* -------------------------------------------------------------------------- *\
                                   Everything
\* -------------------------------------------------------------------------- */

html
{
    background-color: #eeeeee;
}

body
{
    background-color: #eeeeee ! important;
    font-size: 11pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;

    margin: 0 0 0 0;
    border: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

.print
{
    display: none;
}

/* -------------------------------------------------------------------------- *\
                                   Main Blog
\* -------------------------------------------------------------------------- */

dl dt
{
    font-weight: bold;
}

dl dd
{
    margin-bottom: 1em;
}

span.summary-tags
{
    float: right;
}

div.page-footer
{
    font: 8pt;
    font-style: italic;
    text-align: center;
}

.lytebox-popup
{
    // For vertical centering
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;

    padding: 1em 1em 1em 1em;
    background-color: #eeeeee;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

blockquote
{
    margin-left: 0.375in;
    margin-right: 0.375in;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-left: 20px;
    border-left: 5px solid #ddd;
    /* color: #777; */
}

hr.docutils
{
    width: 10em;
    color: grey;
}

div.banner-background
{
    background-color: #eeeeee;
    width: 100%;
}

div.banner
{
    width: 80%;
    height: 60px;
    background-color: #eeeeee;
}

div.banner-image
{
    float: left;
    background-color: #eeeeee;
}

div.banner-tagline
{
    float: left;
    width: 30em;
    padding-left: 5em;
    padding-top: 10px;
    background-color: #eeeeee;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: italic;
}

div.banner-nav
{
    background-color: #eeeeee;
    float: right;
    width: 10em;
    padding-top: 2px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.gutter
{
    float: right;
    width: 20%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
    clear: both;
}

div.gutter-item
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    float: left;
    clear: left;
}

div#content-box
{
    width: 80%;
    float: left;
}

div#articles-box
{
    /*position: absolute;*/
    background-color: #eeeeee;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

#articles-container
{
    border: 1px solid #a9a9a9;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /* margin-right: 1em; */
    /*float: left;*/

/*
    border-top: 3px solid #cccccc;
    border-left: 3px solid #888888;
    border-bottom: 3px solid black;
    border-right: 3px solid #555555;
*/

    background-color: white;
    padding: 1em;
}

.article-description
{
    clear: both;
    padding-top: 5px;
    background-color: white;
    margin-left: 0.5in;
}

.article-body
{
    clear: both;
    padding-top: 5px;
    background-color: white;
}

.article-body-draft
{
    clear: both;
    padding-top: 5px;
    background: url(/static/draft.png);
}

div.article
{
    background-color: white;
}

div.article-header
{
    width: 100%;
}

span.article-ref-header
{
    font-weight: bold;
}

ul.article-ref-list
{
    margin-left: 0;
    padding-left: 0;
}

ul.article-ref-list li
{
    /* list-style-type: none; */
    list-style-type: bullet;
    margin-left: 1em;
}

div.article-title
{
    float: left;
}

div.article-footer
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: gray;
    text-align: left;
    margin-bottom: 10px;
}

div.article-footer a.reference
{
    font-weight: bold;
    text-decoration: none;
    border: none;
}

div.article-footer .tags
{
    color: gray;
}

div.article-title
{
    font-size: 150%;
    font-weight: bold;
    color: maroon;
    width: 70%;
    float: left;
    padding: 0;
}

div.article-timestamp
{
    font-size: 75%;
    padding-left: 2em;
    color: gray;
    text-align: right;
    width: 30%;
    float: right;
    padding: 0;
}

.first-article-container
{
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}

.subsequent-article-container
{
    width: 100%;
    border-top: 1px solid gray;
    padding-top: 2px;
    padding-bottom: 8px;
}

div#tags-box
{
    clear: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-top: 1em;
    background-color: #eeeeee;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0.5in;
    margin-bottom: 0.5in;
    text-align: center;
    width: 70%;
}
/*
* html #tags-box
{
    width: 100%;
}
*/
#tag-cloud
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid #a9a9a9;
}

#tag-cloud a:visited
{
    text-decoration: none;
    border: none;
}

#tag-cloud a:link
{
    text-decoration: none;
    border: none;
}

#tag-cloud a:active
{
    text-decoration: underline;
    color: grey;
    border: none;
}

#tag-cloud a:hover
{
    text-decoration: underline;
    color: grey;
    border: none;
}

#tag-cloud div
{
    padding: 4px;
}

.tag-cloud-tiny
{
    font-size: 8pt;
}

.tag-cloud-small
{
    font-size: 10pt;
}

.tag-cloud-medium
{
    font-size: 12pt;
}

.tag-cloud-large
{
    font-size: 14pt;
}

.tag-cloud-huge
{
    font-size: 16pt;
}

.no-comments
{
    font-size: 75%;
    font-style: italic;
    margin-bottom: 1em;
    padding-bottom: 10px;
}

.body
{
    background-color: #eeeeee;
    padding: 0;
    margin: 0;
}

.made-with
{
    font-size: 75%;
    font-style: italic;
}

.topic-title
{
    font-size: 110%;
    font-weight: bold;
}

h1
{
    font-size: 130%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

h2
{
    font-size: 110%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

h3
{
    font-size: 100%;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.no-comments
{
    font-size: 75%;
    font-style: italic;
}

pre
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 10pt;
    padding: 3px;
    background-color: #f6f6f6;
    font-family: Andale Mono, Lucidatypewriter, Lucida Typewriter, monospace;
    /* font-family: Courier New, Courier, monospace; */
    width: 95%;
    overflow: auto;
    overflow-y: hidden; /* for IE */
    -ms-overflow-y: hidden; /* for IE8 */
}

tt
{
    font-family: Andale Mono, Lucidatypewriter, Lucida Typewriter, monospace;
    /* font-family: Courier New, Courier, monospace; */
}

#contents
{
    float: right;
    /* background-color: white; */
    background-color: #f6f6f6;
    padding: 3px;
    border: 1px dashed black;
    margin-left: 5px;
    margin-top: 5px;
}

.code
{
    font-family: Andale Mono, Lucidatypewriter, Lucida Typewriter, monospace;
    /* font-family: Courier New, Courier, monospace; */
    font-size: 10pt;
}

a
{
   text-decoration: none;
}

a.reference
{
    text-decoration: none;
    border-bottom: 1px dotted #3333aa;
}

a:link
{
/*    color: red; */
   color: #3333aa;
}

a:visited
{
    color: gray;
    border-bottom: 1px dotted black;
}

a:hover
{
    /* background-color: #eed2ee; */
    background-color: #eeeeee;
    color: black;
}

a.about-me
{
    text-decoration: none;
    border: none;
    font-style: italic;
    font-weight: bold;
}

a.about-me:visited
{
    border: none;
}

a.button:visited
{
    border: none;
}

a.button
{
    text-decoration: none;
    border: none;
}

a:visited img
{
    text-decoration: none;
    border: none;
}

div.article-title a.reference
{
    text-decoration: none;
    border-bottom: none;
    color: maroon;
}

div.article-title a:visited
{
    text-decoration: none;
    border-bottom: none;
    color: maroon;
}

.email
{
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 75%;
    font-style: italic;
    align: right;
    text-align: left;
}

.myname
{
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 75%;
    font-style: italic;
    align: right;
    text-align: left;
}

.text-button
{
    margin-top: 1em;
    /* background-color: #808080; */
    background-color: white;

    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;

    margin-left: 2px;
    margin-right: 2px;
    margin-top: 1px;
    margin-bottom: 1px;

    font-size: 90%;

    border: 1px solid black;

/*
    border-top: 3px solid #cccccc;
    border-left: 3px solid #888888;
    border-bottom: 3px solid black;
    border-right: 3px solid #555555;
*/
    text-align: center;
}

div.text-button a
{
    text-decoration: none;
    border: none;
    /* color: white; */
    color: black;
}

div.text-button a:visited
{
    text-decoration: none;
    border: none;
    /* color: white; */
    color: black;
}

div.text-button a:hover
{
    text-decoration: none;
    border: none;
    color: red;
}

div.note
{
    margin-left: 5em;
    margin-right: 5em;
    border: 2px solid red;
    align: center;
    padding: 5px 5px 5px 5px;
}

div.note p.admonition-title
{
    margin-top: 0;
    text-align: center;
    font-weight: bold;
}

div.note p.last
{
    text-align: left;
}

div.condensed-paragraphs p
{
    margin-top: 0;
    margin-bottom: 0;
}

ul li
{
    list-style-type: disc;
}

/* -------------------------------------------------------------------------- *\
                         Table of Contents Styling
\* -------------------------------------------------------------------------- */

div#toc
{
    width: auto;
    font-size: 9pt;
}

span#tocHeading
{
    background-color: #f0f0f0;
    width: auto;
    font-weight: bold;
    font-size: larger;
}

div#tocBlock
{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid #bbbbbb;
    border-top: 2px solid #bbbbbb;
    margin-right: 0em;
    margin-left: 10px;
    background-color: #f0f0f0;
    padding: 10px;
    width: 40%;
    float: right;
}

ul.toc
{
}

li.tocH1
{
    margin-left: 0em
}

li.tocH2
{ 
    margin-left: 1em
}

li.tocH3
{ 
    margin-left: 2em
}

li.tocH4
{ 
    margin-left: 3em
}

li.tocH5
{
    margin-left: 4em
}

li.tocH6
{
    margin-left: 5em
}

/* --- END table of contents styles */

/* -------------------------------------------------------------------------- *\
                                    Pygments
\* -------------------------------------------------------------------------- */

div.highlight
{
    /* same margins as <pre> tag */
    margin-left: 2em;
    margin-right: 2em;
    background-color: #f6f6f6;
/*
    margin-left: 2em;
    margin-right: 2em;
*/
}

div.highlight pre
{
    margin-left: 0 !important;
}

.highlight .err /* Error */
{
    border: 1px solid #FF0000
}

.highlight .k /* Keyword */
{
    color: blue;
}

.highlight .o /* Operator */
{
    color: #666666
}

.highlight .cm /* Comment.Multiline */
{
    color: #008800;
    font-style: italic
}

.highlight .cp /* Comment.Preproc */
{
    color: #008800
}

.highlight .c1 /* Comment.Single */
{
    color: #008800;
    font-style: italic
}

.highlight .cs /* Comment.Special */
{
    color: #008800;
    font-weight: bold
}

.highlight .gd /* Generic.Deleted */
{
    color: #A00000
}

.highlight .ge /* Generic.Emph */
{
    font-style: italic
}

.highlight .gr /* Generic.Error */
{
    color: #FF0000
}

.highlight .gh /* Generic.Heading */
{
    color: #000080;
    font-weight: bold
}

.highlight .gi /* Generic.Inserted */
{
    color: #00A000
}

.highlight .go /* Generic.Output */
{
    color: #808080
}

.highlight .gp /* Generic.Prompt */
{
    color: #000080;
    font-weight: bold
}

.highlight .gs /* Generic.Strong */
{
    font-weight: bold
}

.highlight .gu /* Generic.Subheading */
{
    color: #800080;
    font-weight: bold
}

.highlight .gt /* Generic.Traceback */
{
    color: #0040D0
}

.highlight .kc /* Keyword.Constant */
{
    color: #AA22FF;
    font-weight: bold
}

.highlight .kd /* Keyword.Declaration */
{
    color: #AA22FF;
    font-weight: bold
}

.highlight .kp /* Keyword.Pseudo */
{
    color: #AA22FF
}

.highlight .kr /* Keyword.Reserved */
{
    color: #AA22FF;
    font-weight: bold
}

.highlight .kt /* Keyword.Type */
{
    color: #AA22FF;
    font-weight: bold
}

.highlight .m /* Literal.Number */
{
    color: #666666
}

.highlight .s /* Literal.String */
{
    color: #BB4444
}

.highlight .na /* Name.Attribute */
{
    color: #BB4444
}

.highlight .nb /* Name.Builtin */
{
    color: #AA22FF
}

.highlight .nc /* Name.Class */
{
    color: red;
    font-weight: bold;
}

.highlight .no /* Name.Constant */
{
    color: #880000
}

.highlight .nd /* Name.Decorator */
{
    color: #AA22FF
}

.highlight .ni /* Name.Entity */
{
    color: #999999;
}

.highlight .ne /* Name.Exception */
{
    color: #D2413A;
    font-weight: bold;
}

.highlight .nf /* Name.Function */
{
    color: red;
}

.highlight .nl /* Name.Label */
{
    color: #A0A000
}

.highlight .nn /* Name.Namespace */
{
    color: #0000FF;
    font-weight: bold
}

.highlight .nt /* Name.Tag */
{
    color: #008000;
    font-weight: bold
}

.highlight .nv /* Name.Variable */
{
    color: #B8860B
}

.highlight .ow /* Operator.Word */
{
    color: #AA22FF;
    font-weight: bold
}

.highlight .mf /* Literal.Number.Float */
{
    color: #666666
}

.highlight .mh /* Literal.Number.Hex */
{
    color: #666666
}

.highlight .mi /* Literal.Number.Integer */
{
    color: #666666
}

.highlight .mo /* Literal.Number.Oct */
{
    color: #666666
}

.highlight .sb /* Literal.String.Backtick */
{
    color: #BB4444
}

.highlight .sc /* Literal.String.Char */
{
    color: #BB4444
}

.highlight .sd /* Literal.String.Doc */
{
    color: #BB4444;
    font-style: italic
}

.highlight .s2 /* Literal.String.Double */
{
    color: #BB4444
}

.highlight .se /* Literal.String.Escape */
{
    color: #BB6622;
    font-weight: bold
}

.highlight .sh /* Literal.String.Heredoc */
{
    color: #BB4444
}

.highlight .si /* Literal.String.Interpol */
{
    color: #BB6688;
    font-weight: bold
}

.highlight .sx /* Literal.String.Other */
{
    color: #008000
}

.highlight .sr /* Literal.String.Regex */
{
    color: #BB6688
}

.highlight .s1 /* Literal.String.Single */
{
    color: #BB4444
}

.highlight .ss /* Literal.String.Symbol */
{
    color: #B8860B
}

.highlight .bp /* Name.Builtin.Pseudo */
{
    color: #AA22FF
}

.highlight .vc /* Name.Variable.Class */
{
    color: #B8860B
}

.highlight .vg /* Name.Variable.Global */
{
    color: #B8860B
}

.highlight .vi /* Name.Variable.Instance */
{
    color: #B8860B
}

.highlight .il /* Literal.Number.Integer.Long */
{
    color: #666666
}

/* -------------------------------------------------------------------------- *\
                                    Disqus
\* -------------------------------------------------------------------------- */

.dsq-brlink
{
    color: #aaaaaa;
    font-weight: normal;
    text-align: right;
}
