<hgroup>
  <div class="header">
    <div class="blog-image">
      <img src="/images/bmc-2011-05-09-2-cartoon.png" width="90" height="105"/>
    </div>
    <h1 class="blog-title"><a href="{{ root_url }}/">{{ site.title }}</a></h1>
    {% if site.subtitle %}
      <h2 class="blog-subtitle">{{ site.subtitle }}</h2>
    {% endif %}
  </div>

  <div class="print author">
    <span class="author-name">{{ site.author }}</span>,
    <span class="author-email">{{ site.email }}</span>
  </div>
</hgroup>
