<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a id="about-link">About</span></li>
</ul>

<div id="about-dialog" style="display: none">
{% render_partial about.html %}
</div>

<script type="text/javascript">

jQuery(document).ready(function() {

    jQuery("#about-dialog").hide();
    jQuery("#about-dialog").dialog({
        autoOpen:    false,
        modal:       true,
        draggable:   false,
        show:        'slide',
        hide:        'slide',
        minWidth:    400,
        minHeight:   400,
        title:       "About Me",
    });

    jQuery("#about-link").click(function() {
        jQuery("#about-dialog").dialog('open');
    });
});

</script>
