{% extends "main.html" %}

{% block content %}

<div id="articles-box">
<div id="articles-container">

{% set sep = "" %}
{% for article in articles if (article.headers.url.find('summary') != -1) %}
{% if loop.index <= 20 %}

{{ sep }}
<div class="article">
  <div class="article-header">
    <div class="article-title">
{% set url = article.headers.url|replace('summary.html', '') %}
      <a href="{{ url }}" class="reference">{{ article.headers.title }}</a>
    </div>
    <div class="article-timestamp">
      {{ article.headers.date|datetimeformat('%A, %d %B, %Y') }}
    </div>
  </div>

  </script>

  <div class="article-description">

  {{ article.body }}

  </div>

  <div class="article-footer">
    <a href="{{ url }}" class="reference">Read the entire article.</a>
  </div>

  {% set sep = "<hr/>" %}
</div>

{% endif %}
{% endfor %}

</div>
</div>

{% endblock %}
