<html>
<head>
<link href="/css/style-printable.css" media="screen" rel="stylesheet" type="text/css"></link>
<link href="/css/common.css" media="screen" rel="stylesheet" type="text/css"></link>
<title>{{ page.title }}</title>
{% include google-analytics.html %}
</head>

<body>

<div class="banner-background">
  <div class="banner">

    <div class="banner-image">
       Brizzled: Brian Clapper's Blog
    </div>
  </div>
</div>

<br clear="all/">

<div id="articles-box">
  <div id="articles-container">
    <div class="article">

      <div class="article-header">

        <div class="article-title">{{ page.title }}</div>
        <div class="article-timestamp">{{ page.date | date: '%A, %d %B, %Y' }}</div>

      </div> <!-- article-header -->

      <hr/>

      <div class="article-body" id="content">

{{ content }}

      </div> <!-- article-body/content -->

      <div class="article-footer"><hr/></div>
    </div> <!-- article -->
  </div> <!-- articles-container -->
</div> <!-- articles-box -->

</body>
</html>
