// -*- Ruby Sass -*-
//
// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$article_title_color: maroon;
$article_title_font: $header-subtitle-font-family;
$blog_title_font: "Rock Salt";
$body_font_size: 16px;

@import "mixins";

body {
    font-size: $body_font_size;
    min-width: $min-width;
}

ol {
    li {
        margin-left: 2em !important;
    }
}

ul {
    li {
        margin-left: 2em !important;
    }
}

blockquote {
    font-size: 95%;
}

h1.entry-title {
    font-family: $article_title_font;
    color: $article_title_color;
}

div.entry-content {
    h1 {
        font-size: 225%;
    }

    h2 {
        font-size: 175%;
    }

    h3 {
        font-size: 150%;
    }

    h4 {
        font-size: 125%;
    }

    h4 {
        font-size: 150%;
    }
}

div#blog-archives {
    h1 {
        color: $article_title_color;
        font-family: $article_title_font;
    }
}

h1.blog-title {
    a {
        color: black !important;
        font-family: $blog_title_font;
    }
}

h2.blog-subtitle {
    font-family: $blog_title_font;
    margin-left: 100px;
    font-size: 80%;
}

div.blog-image {
    float: right;
    width: 90px;
    height: 105px;
    border: 1px solid gray;
}

img.image-right {
    float: right;
}

img.image-left {
    float: left;
}

div.about-text {
    font-family: $serif;
}

// -------------------------------------------------------------------------
// Table of Contents Styling (using jQuery table of contents plugin)
// -------------------------------------------------------------------------

span#tocHeading {
    background-color: #f0f0f0;
    width: auto;
    font-weight: bold;
    font-size: larger;
}

$toc-incr: 10px;

div#tocBlock {
    @include drop-shadow-right-bottom(5px, #999);
    float: right;
    font-size: 10pt;
    width: 200px;
    padding: 10px 10px 10px 20px;
    background: #eeeeee;
    border: solid 1px #999999;
    margin: 0 0 10px 15px;

    .tocHeading {
        font-weight: bold;
        font-size: 125%;
    }

    #toc {

        a {
            display: block;

            &.toc-depth-1 {
                margin-left: 0;
            }

            &.toc-depth-2 {
                margin-left: $toc_incr;
            }

            &.toc-depth-3 {
                margin-left: $toc-incr * 2;
            }

            &.toc-depth-4 {
                margin-left: $toc-incr * 3;
            }

            &.toc-depth-5 {
                margin-left: $toc-incr * 4;
            }
        }
    }
}

// -------------------------------------------------------------------------
// End Table of Contents Styling
// -------------------------------------------------------------------------

